.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button {
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  opacity: 1;
  padding: 1em;
  overflow: visible;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font: normal 0.9em/normal "Abel", Helvetica, sans-serif;
  background: rgb(98, 172, 21);
}

.Button:hover {
  font: normal 0.9em/normal "Abel", Helvetica, sans-serif;
  color: #fff;
  background-color: #8fbe3e;
  border-color: #FFFFFF;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}


.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5C9210;
  background-color: #fff;
}

.Danger {
  color: #944317;
}

.Danger:hover {
  background-color: red;
}

.Grey {
  color: #fff;
  background-color: #444444;
}

.Grey:hover {
  background-color: black;
}
