@import '../../shared/scss/Grid.scss';
@import '../../shared/scss/Container.scss';

@mixin vertical-align($position: relative) {
  position: $position;
  top: 45%;
  left: 26%;
}

.CenterBox button {
  @include vertical-align(absolute);
}

@media (min-width: 600px) {
  .CenterBox button {
	left: 44%;
  }
}

@media (min-width: 1000px) {
  .CenterBox button {
	left: 46%;
  }
}

.Enter {
    opacity: 0.01;
}

.EnterActive {
    opacity: 1;
    transition: all 500ms ease-in;
}

.Exit {
    opacity: 1;
    transform: translate(0, 0)
}

.ExitActive {
    opacity: 0.01;
    transition: all 500ms ease-in;
}
