body {
  height:100%;
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fadeTranslate-enter {
  opacity: 0;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeTranslate-exit {
  opacity: 1;
  transform: translate(0, 0);
  z-index: -1;
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transition: opacity 1000ms, transform 1000ms;
  z-index: -1;
}

.fix-container {
  position: absolute;
}

