body {
  height:100%;
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
}

.FixContainer {
  position: absolute;
  margin-top: 16px;
}

