.Sidebar {
  width: 125px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 25;
  background-color: #333;
}

.SidebarCollapsed {
  width: 45px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 25;
  background-color: #333;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 45px 0;
  overflow: hidden;
  background-color: #333;
}

.Nav li {
  float: right;
}

.Nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav li a:hover {
  background-color: #111;
  white-space: nowrap;
  padding-left: 100px;

}

.CollapseIcon {
  position: fixed;
  z-index: 25;
  bottom: 10px;
  left: 47px;
}

.CollapseIcon a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.CollapseIcon a:hover {
  cursor:pointer;
  background-color: #333;
}

.CollapseIconSmall {
  float: right;
  position: fixed;
  z-index: 25;
  bottom: 10px;
}

.CollapseIconSmall a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 12px;
}

.CollapseIconSmall a:hover {
  cursor:pointer;
  background-color: #333;
}
